.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    color: #3D73DD;
}

.input {
    margin-bottom: 1%;
    width: 200px;
    height: 20px;
}

.label {
    color: #0E2045;
}

.button {
    background-color: #3D73DD;
    
}