.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    color: #3D73DD;
}

.input {
    margin-bottom: 3%;
    width: 300px;
    height: 30px;
    border:none;
    border-bottom: 2px solid black;
    
}

.label {
    color: #0E2045;
}

.button {
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: 2px solid rgb(0, 162, 255);
    margin-bottom: 1%;
}

.error {
    color: #FF5C5C;
    font-size: 15px;
}