.header {
  color: #3D73DD;
  font-size: 25px;
}

.container {
  margin-top: 2%;
}

.button {
  margin-top: 5%;
  padding: 6px 13px;
  background-color: #4CAF50;
  font-size: 15px;
  border: none;
  color: white;
}
