.header {
  width: 100%;
  height: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: #3D73DD;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

}
