.container {
  display: grid;
  grid-template-columns:  auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header header header header"
    ". workout1 workout2 workout3 workout4 ."
    ". add add addExercise addExercise .";
  grid-row-gap: 100px;
  justify-content: space-around;

}

.header{
  grid-area: header;
}

.addNew{
  grid-area: add;
}

.addExercise{
  grid-area: addExercise;
}
