.divContainer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10%;
  border-style: groove;
  border-color: #3D73DD;
  min-width: 400px;
}

.date {
  color: black;
  font-size: 25px;
  margin-bottom:20px;
}

.wourkoutDiv {
  margin-top: 20px;
}

.workout {
  color: #3D73DD;
  font-size: 20px;
  margin-right: 10px;
}
